/*
* @Author: iMocco
* @Date:   2019-01-30 19:24:15
* @Last Modified by:   iMocco
* @Last Modified time: 2019-02-03 11:00:33
*/
html,body{
	overflow: hidden;
	width: 100%;
	height: 100%;
}
html{
	cursor: url(../images/pointer.png),auto;
	font-size: 10px;
	text-size-adjust: auto;
}
body{
	margin:0;
	line-height: 1.8;
	font-size: 1.6em;
	color: #222;
	display: flex;
	align-items: center;
	background-color: #f8f5ee;
	font-family: "Yuanti SC",STKaiti,Helvetica,sans-serif;
}
#app {
	width: 100%;
}
a, button, label {
	cursor: url(../images/pointer-hover.png),pointer;
}
.nav-link.home{
	width: 7.15278vw;
	height: inherit;
	text-indent: 100vw;
	background-size: contain;
	background-image: url(../svg/liu-home.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.nav-link.home .nav-text{
	opacity: 0;
}
.nav-link{
	width: 7.15278vw;
	height: inherit;
	text-indent: 100vw;
}

.page-navbar ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.page-navbar li{
	display: inline-block;
}
.page-navbar{
	margin-bottom: 10px;
	/*height: 4vw;*/
	line-height: 2.5;
	font-size: 1.73611vw;
	text-align: right;
	overflow: hidden;
}
.page-navbar a {
	padding: 0 1em;
	text-decoration: none;
	color: inherit;
	background-repeat: no-repeat;
	font-family: "Yuanti SC",STKaiti,Helvetica,sans-serif;
	white-space: nowrap;
}
a.nav-link.home {
	display: block;
}
.receptacle {
	margin: auto;
	max-width: 66.66667vw;
}

.container {
	width: 100%;
	/*border: 7px solid #333;*/
	border-left: none;
	border-right: none;
}

/*home*/
.home-page{
	width: 100%;
	height: 36vw;
	border: solid #000;
	border-width: 6px 0;
	background: #90e2fe;
}
.main-corridor{
	-webkit-transition: -webkit-transform .2s;
	transition: transform .2s;
	background: url(../images/bg-home.png) no-repeat center;
	background-size: cover;
	height: 100%;
}
.main-comic {
	background: #fff;
	height: 35vw;
	min-height: initial;
	max-height: initial;
}

.main-comic {
    height: 100%;
    background: url(https://static.zhihu.com/liukanshan/images/comics/bg-89c9bdc3.jpg) bottom;
    background-size: contain;
}